* {
    font-family: Roboto, Helvetica, Arial, sans-serif
}

body {
    margin: 0;
    padding: 0;
    display: flex;
}

.main_container {
    
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}
/***************************/
.header-blue {
    padding: 0 15% 0 1%;
    height: 48px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    font-size: 24px;
    color: #f9faf8;
    padding-left: 15%;
}

ul {
  font-size: 18px;
  font-weight: lighter;
  color: #e5e7eb;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
}

li{
    padding: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
/***************************/
.footer-blue {
    padding-top: 30px;
    font-weight: lighter;
    color: #e5e7eb;
    height: 50px;
    background-color: #1f2937;
    justify-content: center;
    text-align: center;
}
/***************************/
.sect1-blue {
    padding: 7% 15% 0% 15%;
    height: 288px;
    background-color: #1f2937;  
    display: flex;
    justify-content: space-between;
    gap: 5%;
    align-items:flex-start;
      
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    margin: 0;
    font-weight: extra-bold;
}

p {
    font-size: 18px;
    font-weight: lighter;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    font-size: 18px;
    font-weight: 500;
    width: 135px;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 6px 24px;

}

.image {
    margin-right: auto;
    padding: 100px;
    max-width: 100%;
    height: auto;
    text-align: center ;
    color: white;
    background-color: rgb(109, 109, 115);
}

.sect1-left {
    display: flex;
    flex-direction: column;
    width: auto ;
}
/***************************/
.sect2-white {
    padding: 15px 0 150px 0;
    height: 288px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #1f2937;
    font-weight: extra-bold;
    font-size: 36px;
}

.illustrations-div {
    display: flex;
    padding: 0% 15% 0% 15%;
    gap: 20px;
}

.illustr-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    margin: 10px;
    padding: 10px;
    width: 150px;
    height: 150px;
    color: white;
    border:solid #3882f6 4px;
    border-radius: 20px;
}

.subtext {
    width: 160px;
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    color: #848587;
    margin-bottom: auto;
}
/***************************/
.sect3-gray {
    padding: 4% 20px 2% 20px;
    height: 288px;
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
}

.quote {
    align-self: center;
    max-width: 800px;
    margin: 3% 10% 0 10%;
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
    text-align:justify;
}

.credit {
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
    max-width: 800px;
    text-align: end;
    padding-left: 20%;
}
/***************************/
.sect4-white {
    padding: 0% 15% 0% 15%;
    height: 260px;
    display: flex;
    align-items: center;
}

.action-box {
    padding: 5% 10% 0% 10%;
    width: 1000px;
    height: 100px;
    background-color:#3882f6;
    border-style: hidden;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
}

.action-text {
    color: white;
    justify-content: center;
}

h4 {
    font-size: 22px;
    margin: 0%;
}

.sign-up {
    margin: 0;
}

.bottom-button {
    align-items: center;
    background-color: #3882f6;
    font-size: 18px;
    font-weight: 500;
    width: 135px;
    height: 38px;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 6px 24px;
    border:solid white 2px;
}